

:root{
  --pink:pink;
  --fontFamily: 'Parisienne', cursive;
}
.coloanaStanga{
  #background: var(--pink);
}
.coloanaCentru{
    top: 100px;
}
.coloanaDreapta{

}
html{

}
body{
  background-image: url("wallPaper4.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.pastryChef{
  z-index: 5;
  position: fixed;
  text-align: center;
  left: auto;
  right: 0.5%;
}
.pozPastryChef{
  height: 110px;
  border-radius: 50%;
  margin-top: -15px;
}
.pastryChef p{
  color: white;
  font-family: var(--fontFamily);
  font-size: 20px;
  font-weight: bold;
  padding-top: 70px;
  margin-top: -70px;
}


/*Container contact si navigare*/
.containerContactNavigare{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.baraNavigare{
  width: 100%;
  height: 150px;
  border: 2px solid white;
  border-radius: 10px;
  background: #e73895;
  margin-left: auto;
  margin-right: auto;
}
.x{
  display: inline-block;
  list-style: none;
  margin-top: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  font-family: var(--fontFamily);
}
.sendEmail{
  margin-right: 25px;
}
.culoareEmail:hover{
  color: #ebcaca;
}
.sendEmail, .telefon{
  font-family: var(--fontFamily);
  font-weight: bold;
  margin-top: 10px;
  color: white;
  font-size: 30px;
}
.culoareEmail{
  color: white;
}
.facebook, .twitter, .instagram, .youtube{
  background: white;
  display: inline-block;
  border-radius: 100%;
  padding: 2px 6px;
  font-size: 20px;
}
.instagram i, .youtube i{
  color: red;
}
.twitter i{
    color: #ffe70d;
}
.x a i{
  line-height: 30px;
}
.instagram{
  padding-left: 8px;
  padding-right: 8px;
  color: red;
}
.facebook{
  padding-left: 11px;
  padding-right: 11px;
  color: blue;
}
.twitter{
  padding-left: 8px;
  padding-right: 8px;
}
.youtube{
  margin-right: 25px;
  color: red;

}
.telefonIcon{
  color: blue;
  font-size: 28px;
}
.facebook:hover,.twitter:hover,.instagram:hover,.youtube:hover{
  background: #ebdae0;
}
.searchText{
  border-radius: 15px;
  margin-top: 0px;
  display: inline-block;
  list-style: none;
  outline: none;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: var(--fontFamily);
}

.iconCuText{
  position: fixed;
  right: auto;
  left: 43%;
  top: 110px;
}
.iconCuTexticon{
  position: fixed;
  right: auto;
  left: 41%;
  top: 110px;
  padding-top: 7px;
}
.searchIcon{
  font-size: 25px;
  color: white;
  margin-top: 0px;
  padding-top: 0px;

}
.logo{
  position: fixed;
  height: 140px;
  top: 5px;
  margin-left:auto;
  z-index: 5;
}


 /*Navigare Principala*/
.navigarePrincipala{
     display: flex;
     max-width: 100%;
     height: auto;
     align-items: center;
}
.navLi{
  display: inline-block;
  list-style: none;
  margin-right: 5px;
  margin-top: 7px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  border-right: 1px dashed white;
  padding-right: 5px;
  font-family: var(--fontFamily);
}
.navLi a:hover{
  transition: all 0.3s linear 0s;
  border-bottom: 3px solid white;
  color: #ebcaca;
}
.navLi a:link{
  text-decoration: none;
}
.navLi a{
  padding-bottom: 1px;
  color: white;
  text-decoration: none;

}
.navigarePrincipala ul{
  margin-left: auto;
  margin-right: auto;
}
.navigarePrincipala a{
  text-decoration: none;
}
.contact{
  border: none;
}

/*Dropdown menu*/
.contentThemedCakes{
  xdisplay: none;
}
.contentThemedCakes a{
  xdisplay: block;
}
.dropDown:hover .contentThemedCakes{
  xdisplay: block;
}

/*Produse*/
.pozeProduseIndividual{
  height: 240px;

}
.produseIndividual{
  background: #e73895;
  color: white;
  text-align: center;
  font-family: 'Cookie', cursive;
  font-weight: bold;
  line-height: 85%;
  font-size: 25px;
  float: left;
  box-shadow: 10px 10px 40px #e73895;
  margin-bottom: 35px;
  margin-right: 1.9em;
}
.produseIndividual:hover{
  box-shadow: 5px 5px 40px #e4239d;
  transform: scale(1.3);
  transition: transform 1s;
  background: #b62089;
  z-index: 1;
}

/*footer*/
footer{

  border-radius: 10px;
  width: 900px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7px;
  text-align: center;
  background: lightpink;
  font-size: 17px;
  color: white;
  z-index: 50;
}
.footerText{
  padding-top: 3px;
}
