

:root{
  --pink:pink;
  --fontFamily: 'Parisienne', cursive;
}
.coloanaStanga{
  #background: var(--pink);
}
.coloanaCentru{

}
.coloanaDreapta{

}
html{

}
body{
  background-image: url("wallPaperMacaruns.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.pastryChef{
  z-index: 5;
  position: absolute;
  text-align: center;
  left: auto;
  right: 4em;
  top: 55px;
  background: #e4239d;
  color: white;
}
.pozPastryChef{
  height: 160px;
}

/*Container contact si navigare*/
.containerContactNavigare{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.baraNavigare{
  width: 900px;
  height: 50px;
  border: 2px solid white;
  border-radius: 10px;
  background: #e73895;
  margin-left: auto;
  margin-right: auto;
}
.x{
  float: left;
}
.sendEmail{
  margin-left: 10px;
}

.telefon{

  margin-left: 10px;
}
.sendEmail, .telefon{
  font-family: var(--fontFamily);
  font-weight: bold;
  margin-top: 4px;
  color: white;
  font-size: 30px;
}
.culoareEmail{
  color: white;
}
.facebook{
  font-size: 28px;
  margin-left: 25px;
  margin-top: 3px;
}
.twitter, .instagram, .youtube{
  font-size: 28px;
  margin-left: 5px;
  margin-top: 3px;
}
.fa-facebook-square:hover{
  background: white;
}
.fa-twitter-square:hover{
  color: yellow;
  background: white;
}
.fa-youtube-square:hover, .fa-instagram-square:hover{
  background: white;
  color: red;
}
.searchText{
  border-radius: 10%;
  float: right;
  margin-top: 7px;
  margin-right: 5px;
}
.searchIcon{
  float:right;
  margin-right: 5px;
  font-size: 20px;
  margin-top: 7px;
  color: white;
}

/*Produse*/

.pozeProduseIndividual{
  height: 250px;

}
.produseIndividual{
  background: #e73895;
  color: white;
  text-align: center;
  font-family: 'Cookie', cursive;
  font-weight: bold;
  line-height: 85%;
  font-size: 25px;
  float: left;
  box-shadow: 10px 10px 40px #e73895;
  margin-bottom: 35px;
  margin-right: 1.9em;
}
.produseIndividual:hover{
  box-shadow: 5px 5px 40px #e4239d;
  transform: scale(1.3);
  transition: transform 1s;
  background: #b62089;
  z-index: 1;
}

/*footer*/
footer{
  border-radius: 10px;
  width: 900px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7px;
  text-align: center;
  background: lightpink;
  font-size: 17px;
  color: white;
}
.footerText{
  padding-top: 3px;
}
